################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BugTrackerFE/FileContentIndex
/.vs
/Core/bin/Debug/net8.0
/Core/obj/Core.csproj.nuget.dgspec.json
/Core/obj/project.assets.json
/Core/obj/project.nuget.cache
/Presentation/bin/Debug/net8.0
/Presentation/obj/Debug/net8.0/ref/Presentation.dll
/Presentation/obj/Debug/net8.0/refint/Presentation.dll
/Presentation/obj/Debug/net8.0/scopedcss
/Presentation/obj/Debug/net8.0/staticwebassets
/Presentation/obj/Debug/net8.0/apphost.exe
/Presentation/obj/Debug/net8.0/Presenta.BC777DBE.Up2Date
/Presentation/obj/Debug/net8.0/Presentation.AssemblyInfo.cs
/Presentation/obj/Debug/net8.0/Presentation.AssemblyInfoInputs.cache
/Presentation/obj/Debug/net8.0/Presentation.assets.cache
/Presentation/obj/Debug/net8.0/Presentation.csproj.AssemblyReference.cache
/Presentation/obj/Debug/net8.0/Presentation.csproj.CoreCompileInputs.cache
/Presentation/obj/Debug/net8.0/Presentation.csproj.FileListAbsolute.txt
/Presentation/obj/Debug/net8.0/Presentation.dll
/Presentation/obj/Debug/net8.0/Presentation.GeneratedMSBuildEditorConfig.editorconfig
/Presentation/obj/Debug/net8.0/Presentation.genruntimeconfig.cache
/Presentation/obj/Debug/net8.0/Presentation.MvcApplicationPartsAssemblyInfo.cache
/Presentation/obj/Debug/net8.0/Presentation.pdb
/Presentation/obj/Debug/net8.0/Presentation.sourcelink.json
/Presentation/obj/Debug/net8.0/staticwebassets.build.json
/Presentation/obj/Debug/net8.0/staticwebassets.development.json
/Presentation/obj/Debug/net8.0/staticwebassets.pack.json
/Presentation/obj/Presentation.csproj.nuget.dgspec.json
/Presentation/obj/project.assets.json
/Presentation/obj/project.nuget.cache
/Core/obj/Debug/net8.0/ref/Core.dll
/Core/obj/Debug/net8.0/refint/Core.dll
/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
/Core/obj/Debug/net8.0/Core.assets.cache
/Core/obj/Debug/net8.0/Core.csproj.AssemblyReference.cache
/Core/obj/Debug/net8.0/Core.csproj.CoreCompileInputs.cache
/Core/obj/Debug/net8.0/Core.csproj.FileListAbsolute.txt
/Core/obj/Debug/net8.0/Core.dll
/Core/obj/Debug/net8.0/Core.pdb
/Core/obj/Debug/net8.0/Core.sourcelink.json
