.work-container {
    margin: 0 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.search-inputs {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.param-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.item-container {
    width: 95%;
}

.item-table {
    width: 100%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 1em;
}

.item-table-head {
}

.item-table-foot {
}

tr::after {
    content: '';
    display: block;
    border-bottom: 2px solid gray;
}

tr:last-child::after {
    border: none;
}

th, td {
    padding: 0.25em;
}

.create-bug {
    text-decoration: none;
}
