@{
    ViewData["Title"] = "Home";
}

<div class="welcome">
    <h1>Bug Tracker</h1>
    <p>An ASP.NET MVC Web API utilizing a headless ASP.NET Web API for tracking and working on bugs.</p>
    <p>Uses a code first SQL Database with Entity Framework as ORM.</p>
    <p>Authentication and Authorization are handled by ASP.NET Identity Framework using JWT Bearer tokens.</p>
</div>
